.form ::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #151d24;
    opacity: 0;
    z-index: 0;
}

.button_container ::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 1px;
    height: 36px;
    background: white;
}
.button_container {
    width: 100%;
    min-height: 89px;
    border-radius: 12px 12px 0 0;
    bottom: 0;
    overflow: hidden;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    position: relative;
}

.page {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    contain: layout size style;
    overflow: hidden;
    z-index: 0;
}

.header {
    display: block;
    position: relative;
    -ms-flex-order: -1;
    order: -1;
    width: 100%;
    z-index: 10;
}
.page-title {
    width: 100%;
    position: relative;
    flex:auto;
    align-items:end;
    z-index: 99;
    padding: 0px 24px 10px 24px;
}